<html>
<head>
  <meta charset="UTF-8">
  <title>voicefy - your audio task manager</title>
  <link href="style.css" rel="stylesheet" type="text/css">  
</head>
<body>
  <div class="placeholder">
    <div class="welcome"" >welcome to voicefy</div>
    <!--form method="POST" action='/login'>
      <input name="username" type="text" placeholder="username"></input>
      <input name="password" type="password" placeholder="password"></input>
      <input type='submit' value="login">

    </form-->
    <a href= "https://github.com/login/oauth/authorize?client_id=e6c71ecc9da9473ac924&state=thisismysoloproject&redirect_uri=http://localhost:3000/oauth" ><button class="superB"> Log In With GitHub! </button></a>
    <!--a href='./signup'>Sign up</a-->

  </div>
</body>
</html>
