<html>
<head>
  <meta charset="UTF-8">
  <title>voicefy - your audio task manager</title>
</head>
<body>
  Login
  <form method="POST" action='/login'>
    <input name="username" type="text" placeholder="username"></input>
    <input name="password" type="password" placeholder="password"></input>
    <input type='submit' value="login">

  </form>
  <a href= "https://github.com/login/oauth/authorize?client_id=e6c71ecc9da9473ac924&state=thisismysoloproject&redirect_uri=http://localhost:3000/oauth" ><button> Log In With GitHub! </button></a>
  <a href='./signup'>Sign up</a>
</body>
</html>
