<html>
<head>
  <meta charset="UTF-8">
  <title>Unit-11-Authentication</title>
</head>
<body>
  Login
  <form method="POST" action='/login'>
    <input name="username" type="text" placeholder="username"></input>
    <input name="password" type="password" placeholder="password"></input>
    <input type='submit' value="login">

  </form>
  <a href= "https://github.com/login/oauth/authorize?client_id=b8218afa8049d2faffaa&state=asdjkffhdjksafhjksl7&redirect_uri=http://localhost:3000/oauth" ><button> Log In With GitHub! </button></a>
  <a href='./signup'>Sign up</a>
</body>
</html>
