* {
	box-sizing: border-box;
}

.welcome {
  float: center;
  font-size: 75px;
  color: #34648c;
  height: 50%;
  padding: 200px;
}

body {
  background-color: white;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;  
	margin: 0;
	text-align: center;
	font-size: 14px;
	line-height: 1.42857143;
}

.superB {
	font-size: 22px;
	border: 1px solid #563d7c;
	border-radius: 20px;
	height: 144px;
	width: 350px;
	margin: 0 auto;
	line-height: 144px;
	font-weight: 500;
	background: url(ico-github.png);
	background-repeat: no-repeat;
	background-position-x: 280px;
	background-position-y: 50px;	
	background-size: 50px;
	padding: 0 25;

}

button:focus {outline:0;}

.placeholder {
	width: 1140px;
	margin: 0 auto;
}

/*a {
	font-size: 20px;
	padding: 20px;
	border: 1px solid #cdbfe3;
	border-radius: 10px;
	margin: 0 auto;
	line-height: 144px;
	font-weight: 300;
	color: white;
}*/

.superB:hover {
	color: white;
	background: url(ico-github-inverted.png);
	background-color: black;
	background-repeat: no-repeat;
	background-position-x: 280px;
	background-position-y: 50px;	
	background-size: 50px;
}

img {
	background: url(ico-github.png);
}
